<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="548px" height="120px" src="<%= utils.getPublicUrl('/assets/img/email/mailActiviteMensuelle/header-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text font-weight="bold" font-size="28px" color="#000" line-height="1.5" align="center">
          <strong>Bonjour  <%= conseiller.prenom %>,</strong>
        </mj-text>
        <mj-text font-size="16px" color="#000" line-height="1.5" align="center">
          Voici le récapitulatif de votre activité d'accompagnement de <strong><%= cras.mois %> :</strong>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0">
      <mj-column>
        <mj-section background-url="<%= utils.getPublicUrl('/assets/img/email/mailActiviteMensuelle/losange-1.png') %>" background-position="top" background-repeat="no-repeat">
          <mj-column>
            <mj-text align="center" height="160px" width="140px" line-height="20px">
              <span style="font-size:32px; display:inline-block; margin:10px"><%= cras.nbUsagers %></span></br>
            	nouveaux usagers</br>
          		accompagnés</br>
              <span style="font-weight: 600;"><%= cras.pourcentageUsagers %></span>
            </mj-text>
          </mj-column>
        </mj-section>
      </mj-column>
      <mj-column>
        <mj-section background-url="<%= utils.getPublicUrl('/assets/img/email/mailActiviteMensuelle/losange-2.png') %>" background-position="top" background-repeat="no-repeat">
      	<mj-column>
        <mj-text align="center" height="160px" width="140px" line-height="20px">
          <span style="font-size:32px; display:inline-block; margin:10px">0</span></br>
          accompagnements </br>
          (avec récurrences)</br>
          <span style="font-weight: 600;"><%= cras.pourcentageAccompagnements %></span>
        </mj-text>
        </mj-section>
      </mj-column>
      </mj-column>
      <mj-column>
        <mj-section background-url="<%= utils.getPublicUrl('/assets/img/email/mailActiviteMensuelle/losange-3.png') %>" background-position="top" background-repeat="no-repeat">
      <mj-column>
          <mj-text align="center" height="160px" width="140px" line-height="20px">
            <span style="font-size:32px; display:inline-block; margin:10px"><%= cras.nbHeures %>h</span></br>
            d’accompagnement </br>
          	au total</br>
            <span style="font-weight: 600;"><%= cras.pourcentageHeures %></span>
          </mj-text>
      </mj-column>
      	</mj-section>
      </mj-column>
    </mj-section>

    <mj-section padding-top="0">
      <mj-column>
        <mj-text align="center">
        <a href="<%= utils.getEspaceCoopUrl('statistiques') %>" target="_blank"
           style="color: #0063cb; border: 1px solid #0063cb; border-radius: 20px; font-size:12px; width:169px; display:block; margin: 0 auto; padding: 10px 0;text-decoration:none;">
         Voir détail de l’activité
        </a>
        </mj-text>
      </mj-column>
    </mj-section>
     <mj-section padding-top="0">
      <mj-column>
        <mj-text align="center" color="#3b3f44" font-size="12px" line-height="1.5">
        Votre historique d’accompagnements vous permet d’avoir une vision sur votre activité,
        de l’organiser et de la valoriser auprès de votre structure.</br>
        Vous pouvez <a href="<%= utils.getEspaceCoopUrl('historique') %>" target="_blank" style="color: #0063CB;">
        <strong>éditer vos accompagnements</strong>
        </a>&nbsp;sur la Coop.
      </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="0">
      <mj-column>
        <mj-text color="#666666" font-size="12px" text-align="justify" line-height="1.5">
          Politique des données : les informations d’accompagnements des conseillers numériques France services  sont enregistrées dans
          la base de données de l’espace Coop, mutualisées à différentes échelles : structures, territoires, et national. Elles permettent
          de mieux comprendre l’activité de médiation, les territoires, et servent également à évaluer le dispostif CnFS. Accédez au
          <a href="#" target="_blank" style="color: #0063CB; font-weight: 600;">Guide de l’outil de suivi d’activité</a> pour en apprendre
          davantage sur l’utilisation des données d’accompagnement Conseiller numérique France Services.
        </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
      <mj-column>
        <mj-text>
          <a href="" target="_blank" style="color:#666666; font-size:10px;">
            CGU
          </a>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
