<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/header-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
     <mj-section>
      <mj-column width="250px">
         <mj-image border="none" align="left" width="220px" padding-left="0" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/illu-mail.png') %>"></mj-image>
      </mj-column>
      <mj-column>
        <mj-text font-weight="bold" font-size="28px" color="#e1000f" line-height="1.5" align="left" padding="65px 10px 10px 20px"><strong>Comment (et pourquoi) remplir son compte-rendu d'activité ?</strong></mj-text>
      </mj-column>
    </mj-section>
     <mj-section>
       <mj-column>
          <mj-text font-weight="bold" font-size="16px" color="#000091" line-height="1.5" align="left">Nous avons remarqué que <strong>vous ne remplissez pas ou peu votre Compte-Rendu d'Activité (CRA)</strong> sur votre Espace Coop. Peut-être avez-vous besoin d'un petit éclairage sur ce qu'est le CRA, comment bien le remplir, et à quoi les données collectées servent 👇</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="24px" color="#e1000f" font-weight="bold" line-height="1.5" align="left"><strong style="background-color: #e1000f; color: #ffffff;">Le compte-rendu d'activité</strong>, qu'est-ce que c'est ?</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" padding-top="0" color="#000091" line-height="1.5" align="left"><strong style="background-color: #000091; color: #ffffff;">Après chaque intervention auprès du public</strong>, vous avez l'obligation de compléter un compte-rendu d’activité (CRA) depuis votre <strong>Espace Coop.</strong></mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-image width="450px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/create_new_cra.png') %>"></mj-image>
      </mj-column>
    </mj-section>
     <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" line-height="1.5" align="left">Cette étape est très rapide et  <strong>s’effectue en quelques clics sur votre Espace Coop</strong>, via un smartphone ou une tablette. Le CRA doit être rempli le jour de l’activité, mais il est recommandé de le compléter à chaque fin de séance.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-image width="450px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/form_cra.png') %>"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="0">
      <mj-column>
         <mj-text font-size="24px" color="#e1000f" font-weight="bold" line-height="1.5" align="left"><strong style="background-color: #e1000f; color: #ffffff;">A quoi servent</strong> les données collectées ?</mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
         <mj-text font-size="16px" color="#000091" padding-bottom="0" line-height="1.5" align="left">Les données transmises par le CRA ne sont pas nominatives ; elles ont un <strong style="background-color: #000091; color: #ffffff;">objectif de pilotage et d’évaluation territoriale et nationale du dispositif.</strong></mj-text>
        <mj-text font-size="16px" padding-top="0" padding-bottom="0" color="#000091" line-height="1.5" align="left">Les données du CRA vous serviront à <strong>valoriser et organiser votre activité.</strong>, tout comme à votre employeur pour piloter la mission et <strong>évaluer son projet d’inclusion numérique.</strong></mj-text>
        <mj-text padding-top="0" font-size="16px" color="#000091" line-height="1.5" align="left">Elles serviront par ailleurs à l’État, financeur du dispositif, afin d’en évaluer l’impact, de mieux comprendre les besoins des usagers mais également de <strong>démontrer l’intérêt du dispositif </strong>avec l’ensemble des parties prenantes, en vue de la pérennisation du dispositif.</mj-text>
       </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text line-height="1.5" color="#ffffff" font-size="18px" font-weight="bold" padding-top="0" padding-bottom="0">
          <span>🧐</span>
          <span style="background: #000091; margin-left: 5px;">BONNE PRATIQUE</span>
          <span style="color: #000091; padding: 5px; padding-top: 10px" font-size="18px" font-weight="bold"> Epingler la page du CRA dans son navigateur OU créer un raccourci vers le CRA sur la page d'accueil de son smartphone ou de sa tablette.</span>
        </mj-text>
       </mj-column>
    </mj-section>
     <mj-section padding-bottom="0" padding-top="0">
      <mj-column>
        <mj-text line-height="1.5" align="left" color="#ffffff" font-size="16px">
          <p>
             <span style="background-color: #000091; color: #ffffff; font-weight: bold;">Pour rappel :</span>
          <span style="color: #000091; padding: 5px; padding-top: 10px" font-size="18px" font-weight="bold">Votre employeur agit comme garant de la complétion des comptes-rendus d'activités. Il peut également accéder aux données de vos CRA à partir de son tableau de pilotage dans le menu Suivi / liste des Conseillers.</span>
          </p>
        </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section padding-top="0" padding-bottom="0">
      <mj-column>
        <mj-text align="left" color="#3b3f44" font-size="16px" line-height="1.5">
          <p style="margin: 0;">
            <span style="background-color: #ffffff; color: #e1000f;">
              <strong>⚠</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;">
              <strong> </strong>
            </span>
            <span style="background-color: #ffffff; color: #e1000f;">
              <strong>Vous avez une circonstance exceptionnelle qui ne vous permet pas de remplir des CRA ?</strong>
            </span>
            <span style="background-color: #ffffff; color: #000091;"> Vous êtes en congés maternité/paternité, en arrêt maladie longue durée ou avez une autre condition que vous jugez incompatible avec un remplissage régulier des comptes-rendus d'activité ? Merci de nous en informer en
            </span>
            <a href="https://framaforms.org/condition-exceptionnelle-non-remplissage-des-cra-1650445633" target="_blank" style="color: #0092ff; text-decoration: underline;"><span style="background-color: #000091; color: #ffffff;">
              <strong>complétant ce formulaire.</strong>
              </span>
            </a>
            <span style="background-color: #ffffff; color: #000091; margin-left: 5px;"> Nous étudierons votre cas et adapterons nos relances en conséquence.
            </span>
          </p>
        </mj-text>
       </mj-column>
    </mj-section>
    <mj-section padding-top="0">
        <mj-column width="100%">
          <mj-divider border-color="#000091" border-width="3px" />
        </mj-column>
      </mj-section>
    <mj-section>
      <mj-column>
        <mj-image width="1500px" src="<%= utils.getPublicUrl('/assets/img/email/mailRelanceCRA/footer-mail.png') %>"></mj-image>
         </mj-column>
    </mj-section>
  </mj-body>
</mjml>
