<mjml>

  <%- include('../commun/head.mjml.ejs'); %>

  <mj-body background-color="#f0f0f0">

    <%- include('../commun/header.mjml.ejs', { utils }); %>

    <mj-wrapper css-class="wrapper">

      <mj-section>
        <mj-column>
          <mj-text css-class="text-primary">
          </mj-text>
          <mj-text>
            Bonjour <%= conseiller.prenom %> <%= conseiller.nom %>,
          </mj-text>
          <mj-text align="left">
            Vous avez signalé un problème dans votre actuelle adresse mail @conseiller-numerique.fr (orthographe, changement de nom, etc.).
          </mj-text>
          <mj-text align="left">
            Pour effectuer la modification que vous avez demandée :
          </mj-text>
          <mj-text align="left" font-weight="bold">
            nous allons supprimer votre adresse mail actuelle
          </mj-text>

          <mj-text align="left" color="#FD7B44">
            <%= conseiller.message_email.email_actuelle %>
          </mj-text>

          <mj-text align="left" font-weight="bold">
            et créer une nouvelle boîte mail avec l'intitulé que vous avez demandé :
          </mj-text>
          <mj-text align="left" color="#0063CB">
            <%= conseiller.message_email.email_future %>
          </mj-text>
          <mj-text align="left" color="#FD7B44" font-weight="bold">
            La création de votre nouvelle boîte mail entrainera la perte de l'ensemble des données
            présentes dans l'ancienne.
          </mj-text>
          <mj-text align="left">
            Avant de commencer le processus, veillez à sauvegarder les données
            présentes dans la boîte qui sera supprimée (mails reçus, carnets de contacts, etc.).
          </mj-text>
          <mj-text align="left" font-weight="bold">
            Comme l'ancienne, votre nouvelle boîte mail et son mot de passe vous serviront d'identifiants de connexion à l'ensemble de vos outils Conseiller numérique France Services:
          </mj-text>
          <mj-text align="left">
              <ul>
                <li align="left">Espace Coop</li>
                <li align="left">Espace de discussion (Mattermost)</li>
                <li align="left">Client mail</li>
              </ul>
        </mj-text>
          <mj-text align="left">
            Notez précieusement votre mot de passe; lors de l'enregistrement, vous pouvez garder le mot de passe de votre ancienne adresse si vous le souhaitez.
          </mj-text>
          <mj-button href="<%= link %>" background-color="#24303A" color="#F4F4F5" font-size="16px" font-weight="bold" padding-left="100px" padding-right="100px"
            text-transform="uppercase">
            Créer ma nouvelle adresse mail Conseiller numérique
          </mj-button>
          <mj-text align="left">
            [ ! ] Cette opération est irréversible
          </mj-text>
          <mj-text align="left">
            Si vous changez d'avis, vous pouvez ignorer cet e-mail
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <mj-wrapper css-class="wrapper">
      <mj-section>
        <mj-column>
          <%- include('../commun/signature.mjml.ejs'); %>
        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
